@use "../utils/mixins";
.btn {
    padding: 10px;
    border-radius: 25px;
    height: 41px;
    margin-top: 13px;
    align-content: center;
    background-color: rgb(242, 242, 242);
    border: none;
    box-shadow: 0px 5px 20px #d9cece;
    transform: scale(1);
    transition: transform 400ms;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
    &:hover {
        transform: scale(1.15);
    }
    &-primary {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54%;
        color: rgb(255, 255, 255);
        @include mixins.gradient;
    }
    &-secondary {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        background-color: rgb(242, 242, 242);
        width: 250px;
        border-radius: 12px;
        height: 52px;
        padding-right: 34px;
        cursor: pointer;
        &:hover {
            background-color: rgb(237, 219, 238);
        }
    }
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 106px;
}