@charset "UTF-8";

/* *****************************************************************
GENERALITES
***************************************************************** */

* {
    box-sizing: border-box;
    /* On spécifie que la largeur (width) de chaque boîte comprend le padding et la bordure (par défaut, c'est seulement la largeur du contenu) */
}

html {
    font-size: 62.5%;
    /* 1rem = 10px (la formule est 10/16*100) la taille par défaut étant 16px */
}

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    color: black;
}

h1,
h2,
h3,
nav {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 18px;
}

p {
    font-size: 14px;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}